<div style="width: 800px; margin: 30px auto;">
  <h5 style="width: 200px; text-align: center; background-color: #D2B48C;">新規会員登録</h5>
  <br>

  <%= form_with model: @public, url: new_customer_registration_path do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :last_name, "名前　　　　　　　　　　　（姓）　" %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
      <%= f.label :first_name, "　　（名）　" %>
      <%= f.text_field :first_name, autocomplete: "first_name" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :last_name_kana, 'フリガナ　　　　　　　　　（セイ）' %>
      <%= f.text_field :last_name_kana, autocomplete: "first_name_kana" %>
      <%= f.label :first_name_kana, '　　（メイ）' %>
      <%= f.text_field :first_name_kana, autocomplete: "last_name_kana" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :email, 'メールアドレス　　　　　　　　　　' %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :post_number, '郵便番号（ハイフンなし）　　　　　' %>
      <%= f.text_field :post_number, autocomplete: "postcode" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :address, '住所　　　　　　　　　　　　　　　' %>
      <%= f.text_field :address, autocomplete: "address", size: 60 %>
    </div>
    <br>
    <div class="field">
      <%= f.label :phone_number, '電話番号（ハイフンなし）　　　　　' %>
      <%= f.telephone_field :phone_number, autocomplete: "phone_number" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :encrypted_password, 'パスワード（６文字以上）　　　　　' %>
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :encrypted_password, autocomplete: "new-password" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password_confirmation, 'パスワード（確認用）　　　　　　　' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <br>
    <div class="actions">　　　　　　　　　　　　　　　　　<%= f.submit "新規登録", class: "btn btn-light pl-5 pr-5 mt-3" %>
    </div>
  <% end %>

      <div class="row">
      <div class="col-3-md offset-1 mt-5">
        <h4 class="p-2" style="background-color:#dcdcdc">既に登録済みの方</h4>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-3-md offset-2">
        <p class="ml-3"><%= link_to "こちら", customer_session_path %>からログインしてください。</p>
      </div>
    </div>


</div>