<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--FontAwesomeの導入-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

　　<!--Bootstrap導入-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー-->
    <%= render "layouts/header" %>
    <main>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
